<div id="main">
<h1>Sign in</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <%= f.email_field :email,placeholder: "Email",:class=>'name' %>

  <%= f.password_field :password, placeholder: "Password",:class=>'name' %>

  <%= f.submit "Log in",:class=>'submit' %>
<% end %>
</div>
<nav class="navbar navbar-expand-lg fixed-bottom navbar-light" style="background-color: #fff;color:black">
  <a class="navbar-brand" href="#" style="margin:auto"><%=image_tag('fcbkicon.png')%>acebook</a>
  </nav>