<div id="image">
<p>Recent logins?</p>
<hr>
<div class="users">mucyo kean <br><%=image_tag('tj.png')%></div>
<div class="users">mucyo kean <br><%=image_tag('tj.png')%></div>
<div class="users">mucyo kean <br><%=image_tag('tj.png')%></div>
</div>
<div id="main">
<h1>Create a New Account</h1>
<p>It’s quick and easy.</p>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>

  <%= f.text_field :firstname, placeholder: "First Name",:class=>'name' %>

  <%= f.text_field :lastname, placeholder: "Last Name",:class=>'name' %>

  <%= f.email_field :email, placeholder: "Email",:class=>'text' %>

  <%= f.password_field :password ,placeholder: "Password",:class=>'text'%>

  <%= f.password_field :password_confirmation, placeholder: "Confirm Password",:class=>'text' %>

  <%= f.submit "Sign Up",:class=>'submit' %>
<% end %>
</div>
<nav class="navbar navbar-expand-lg fixed-bottom navbar-light" style="background-color: #fff;color:black">
  <a class="navbar-brand" href="#" style="margin:auto"><%=image_tag('fcbkicon.png')%>acebook</a>
  </nav>